@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@media only screen and (min-width: 768px) {
  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $text-default;
    margin: 0;
    padding: 0;
    white-space: pre-line;
  }
  
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: $text-default;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $dark-gray;
  }
  
  h5 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  
  h6 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: $text-default;
    margin: 0;
    padding: 0;
  }

  #musing-date {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    margin: 8px 0 0 0;
    padding: 0;
    color: $text-unfocused;
  }

  .content-image-caption {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    padding: 0;
    color: $dark-gray;
    white-space: pre-line;
  }

}  

@media only screen and (min-width: 0px) and (max-width: 767px) {
  p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: $text-default;
    margin: 0;
    padding: 0;
    white-space: pre-line;
  }
  
  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.03em;
    color: $text-default;
    margin: 0;
    padding: 0;
  }
  
  h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h4 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $dark-gray;
  }
  
  h5 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  
  h6 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: $text-default;
    margin: 0;
    padding: 0;
  }

  #musing-date {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 8px;
    line-height: 1;
    margin: 4px 0 0 0;
    padding: 0;
    color: $text-unfocused;
  }

  .content-image-caption {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2;
    padding: 0;
    color: $dark-gray;
    white-space: pre-line;
  }

}  