#about-body {
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
}

#about-text {
  width: 50%;
}

#about-photo-container {
  display: inline;
  width: 33%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#about-photo {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

#about-subway-map {
  display: flex;
  img {
    width: 100%;
    height: auto;
  }
}


@media only screen and (max-width: 767px) {
  #about-body {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }
  
  #about-text {
    margin: 80px 0;
    width: 100%;
  }

  #about-photo-container {
    width: 100%;
    height: auto;
  }
  
  #about-photo {
    width: 100%;
    height: 320px;
    margin-top: 80px;
    margin-bottom: 4px;
    object-fit: cover;
    object-position: 50% 25%;
  }
}