<h1>Hi, I'm Kevin!</h1>
<br/>
<p>text will eventually go here</p>

<div class="project-index-container">
  <div class="project-grid-container">
    <% @projects.each do |project| %>
      <div class="project-grid-item">
        <%= image_tag "#{project.thumbnail}" %>
        <br/>
        <%= link_to project.title, project_path(project) %>
      </div>
    <% end %>
  </div>
</div>