<div class="baseline-container">

  <h2 class="intro-text">Hi, I'm Kevin!</h2>
  <br/>
  <p>I’ve spent my entire career as a consultant in the media and technology sectors. Throughout this time, I developed a fascination and respect for well-designed products, visuals, and experiences.
    <br/>
    <br/>
    Inspired by the power of good design, I have spent many years incorporating established design principles and philosophies into my work as a consultant. I built this website to challenge conventional, text-heavy resumes by presenting my work visually and to offer my personal perspectives and philosophies on design and branding.
  </p>

  <div class="project-grid-container">
    <% @projects.each do |project| %>
      <%= link_to project_path(project), class:"project-grid-item" do %>
        <%= image_tag "#{project.thumbnail}" %>
        <%= project.title %>
      <% end %>
    <% end %>
  </div>

</div>