@import "config/colors";

// CSS for project index is below

.project-index-container {
  margin: 0 auto;
  padding: 240px 20vw;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.intro-text {
  margin-bottom: 240px;
}

// TODO: expand grid to 3 max, responsively change to 2 and 1 for smaller screens

@media only screen and (min-width: 1200px) {
  .project-grid-container {
    grid-template-columns: repeat(3, 366px);
  }
}

.project-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 366px);
  row-gap: 64px;
  margin-top: 240px;
  justify-content: space-between;
}

.project-grid-item {
  height: auto;
  img {
    width: 366px;
    margin-bottom: 8px;
  }
  a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: $text-default;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  :hover {
    text-decoration: underline;
  }
}

// CSS for show: banner is below

.project-show-container {
  margin: 0 auto;
  width: 100%;
  padding: 240px 20vw 0px 20vw;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;   
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.project-header-left {
  width: 366px;
}

.project-title {
  margin-bottom: 8px;
}

.project-header-right {
  width: 366px;
}

.project-banner-image {
  position: relative;
  overflow: hidden;
  img {
    transform: scale(0.5,0.5);
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
}

// CSS for below-banner section is below

.page-background {
  background-color: $background-gray;
}


.project-details {
  display: flex;
  justify-content: space-between;
}

.project-details-left {
  min-width: 184px;
  color: $text-unfocused;
}

.project-years {
  margin-top: 8px;
}

.company-name {
  margin-top: 8px;
}

.project-details-right {
  border-style: solid;
  border-width: 0 0 0 1px;
  border-color: $text-unfocused;
  padding-left: 48px;
}


// CSS for slides is below

.slide-grid-background {
  background-color: $background-gray;
}

.slide-grid-container {
  margin: 240px 0 0 0;
}

.slide-grid-item {
  margin-top: 128px; 
  img {
    width: 480px;
  }
  display: flex;
}

.slide-grid-right {
  margin-left: 56px;
}

.slide-title {
  margin-bottom: 8px;
}