@import "config/colors";

// CSS for project index is below

body {
  animation: fadeContentIn ease 1s;
  animation-iteration-count: 1;
}

img {
  animation: fadeContentIn ease 1s;
  animation-iteration-count: 1;
}

@keyframes fadeContentIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.baseline-container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.intro-text {
  line-height: 1.2;
  color: $text-unfocused;
  font-weight: 500;
}

.work-arrow {
  &:hover {
    cursor: pointer;
  }
}

#work-arrow-down {
  height: 36px;
  img {
    width: auto;
    display: none;
  }
  margin-top: 120px;
  margin-bottom: 120px;
}

.arrow-activate {
  img {
    display: inline !important;
    height: 36px;
    width: auto;
  }
}

#work-arrow-up {
  height: 36px;
  img {
    transform: rotate(180deg);
    width: auto;
    display: none;
  }
  margin-bottom: 120px;
}

#work {
  height: 84px;
}

#work-subtitle {
  margin-top: 8px;
}

.intro-text {
  margin: 120px 0;
}

.index-grid-item {
  img {
    object-fit: cover;
  }
}

@media only screen and (min-width: 1600px) {
  .baseline-container {
    width: 1200px;
    padding: 240px 0;
  }

  .index-grid-container {
    grid-template-columns: repeat(2, 540px);
    margin-top: 120px;
    row-gap: 96px;
  }

  .index-grid-item {
    img {
      width: 540px;
      height: 360px;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1599px) {
  .baseline-container {
    width: 800px;
    padding: 240px 0;
  }

  .index-grid-container {
    grid-template-columns: repeat(2, 324px);
    margin-top: 120px;
    row-gap: 96px;
  }

  .index-grid-item {
    img {
      width: 324px;
      height: 216px;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
  #work-arrow-down {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  #work-arrow-up {
    margin-bottom: 80px;
  }

  #work {
    height: 84px;
  }
  

  .baseline-container {
    width: 584px;
    padding: 200px 0;
  }

  .index-grid-container {
    grid-template-columns: repeat(2, 240px);
    margin-top: 120px;
    row-gap: 96px;
  }

  .index-grid-item {
    img {
      width: 240px;
      height: 160px;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
  #work-arrow-down {
    .work-arrow {
      transform: scale(0.66, 0.66) !important;
    }
    margin-top: 32px;
    margin-bottom: 80px;
  }

  #work-arrow-up {
    .work-arrow {
      transform: scale(0.66, 0.66) rotate(180deg) !important;
    }
    margin-bottom: 32px;
  }

  #work {
    height: 92px;
  }
  

  .intro-text {
    margin: 80px 0;
  }

  .baseline-container {
    width: 384px;
    padding: 160px 0;
  }

  .index-grid-container {
    grid-template-columns: repeat(1, 384px);
    margin-top: 96px;
    row-gap: 48px;
  }

  .index-grid-item {
    img {
      width: 384px;
      height: 256px;
      margin-bottom: 4px;
    }
  }
}


@media only screen and (min-width: 0px) and (max-width: 559px) {
  
  #work-arrow-down {
    .work-arrow {
      transform: scale(0.66, 0.66) !important;
    }
    margin-top: 32px;
    margin-bottom: 80px;
  }
  
  #work-arrow-up {
    .work-arrow {
      transform: scale(0.66, 0.66) rotate(180deg) !important;
    }
    margin-bottom: 32px;
  }
  
  #work {
    height: 92px;
  }

  .intro-text {
    margin: 80px 0;
  }
  
  .baseline-container {
    width: 324px;
    padding: 160px 0;
  }

  .index-grid-container {
    grid-template-columns: repeat(1, 324px);
    margin-top: 96px;
    row-gap: 48px;
  }

  .index-grid-item {
    img {
      width: 324px;
      height: 216px;
      margin-bottom: 4px;
    }
  }
}

.index-grid-container {
  display: grid;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.project-grid-item {
  &:hover {
    text-decoration: underline;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////
// CSS for show (upper banner portion)


@media only screen and (min-width: 1440px) {
  .project-show-container {
    width: 960px;
  }

  .slide-grid-item {
    img {
      width: 400px;
    }
  }
  .project-details-left {
    min-width: 184px;
    color: $text-unfocused;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1439px) {
  .project-show-container {
    width: 840px;
  }

  .slide-grid-item {
    img {
      width: 360px;
    }
  }
  .project-details-left {
    min-width: 184px;
    color: $text-unfocused;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
  .project-show-container {
    width: 640px;
  }

  .slide-grid-item {
    img {
      width: 280px;
    }
  }
  .project-details-left {
    min-width: 160px;
    color: $text-unfocused;
  }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
  .project-show-container {
    width: 480px;
  }

  .slide-grid-item {
    img {
      width: 240px;
    }
  }
  .project-details-left {
    min-width: 144px;
    color: $text-unfocused;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
// CSS for mobile show layout

@media only screen and (min-width: 0px) and (max-width: 559px) {

  .project-show-container {
    margin: 0 auto;
    padding: 160px 0 0 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   
  }
  
  .project-header {
    display: inline;
    width: 324px;
  }

  .project-header-right {
    margin-top: 48px;
  }
  
  
  .project-title {
    margin-bottom: 8px;
  }
  
  .project-banner-image {
    position: relative;
    overflow: hidden;
    width: auto;
    max-height: 324px;
    padding: 60px 0 60px 0 !important;
    margin-top: 60px;
    img {
      transform: scale(0.25,0.25);
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }
  
  // CSS for below-banner section is below
  
  .page-background {
    background-color: $background-gray;
  }
  
  
  .project-details {
    display: inline;
    color: $text-unfocused;
  }
  
  .company-name {
    margin-top: 4px;
    margin-bottom: 16px;
  }
  
  .project-details-right {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: $text-unfocused;
    padding-top: 16px;
  }
  
  
  // CSS for slides is below
  
  .slide-grid-background {
    background-color: $background-gray;
  }
  
  .slide-grid-container {
    margin: 32px 0 0 0;
    padding-bottom: 80px;
  }
  
  .slide-grid-item {
    margin-top: 128px; 
    display: inline;
  }
  
  .slide-grid-left {
    margin-top: 128px;
  }
  
  .slide-title {
    margin-bottom: 8px;
  }

  .project-show-container {
    width: 324px;
  }

  .slide-grid-item {
    img {
      width: 324px;
      margin-bottom: 16px;
    }
  }
  .project-details-left {
    color: $text-unfocused;
  }
}


// CSS for intermediate show layout between mobile and desktop

@media only screen and (min-width: 560px) and (max-width: 1079px) {

  .project-show-container {
    margin: 0 auto;
    padding: 160px 0 0 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   
  }
  
  .project-header {
    display: inline;
    width: 324px;
  }

  .project-header-right {
    margin-top: 48px;
  }
  
  
  .project-title {
    margin-bottom: 8px;
  }
  
  .project-banner-image {
    position: relative;
    overflow: hidden;
    width: auto;
    max-height: 324px;
    padding: 60px 0 60px 0 !important;
    margin-top: 60px;
    img {
      transform: scale(0.25,0.25);
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }

  // CSS for below-banner section is below

  .page-background {
    background-color: $background-gray;
  }


  .project-details {
    display: flex;
    justify-content: space-between;
  }

  .project-details-left {
    color: $text-unfocused;
  }

  .project-years {
    margin-top: 8px;
  }

  .company-name {
    margin-top: 8px;
  }

  .project-details-right {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: $text-unfocused;
    padding-left: 48px;
  }


  // CSS for slides is below

  .slide-grid-background {
    background-color: $background-gray;
  }

  .slide-grid-container {
    margin: 240px 0 0 0;
    padding-bottom: 240px;
  }

  .slide-grid-item {
    margin-top: 128px; 
    display: flex;
  }

  .slide-grid-right {
    margin-left: 56px;
  }

  .slide-title {
    margin-bottom: 8px;
  }
}


////////////////////////////////////////////////////////////////////////////////////////////////////
// CSS for desktop show layout

@media only screen and (min-width: 1080px) {

  .project-show-container {
    margin: 0 auto;
    padding: 240px 0 0 0;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;   
  }

  .project-header {
    display: flex;
    justify-content: space-between;
  }

  .project-header-left {
    width: 366px;
  }

  .project-title {
    margin-bottom: 8px;
  }

  .project-header-right {
    width: 366px;
  }

  .project-banner-image {
    position: relative;
    overflow: hidden;
    img {
      transform: scale(0.5);
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
  }

  // CSS for below-banner section is below

  .page-background {
    background-color: $background-gray;
  }


  .project-details {
    display: flex;
    justify-content: space-between;
  }

  .project-details-left {
    color: $text-unfocused;
  }

  .project-years {
    margin-top: 8px;
  }

  .company-name {
    margin-top: 8px;
  }

  .project-details-right {
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: $text-unfocused;
    padding-left: 48px;
  }


  // CSS for slides is below

  .slide-grid-background {
    background-color: $background-gray;
  }

  .slide-grid-container {
    margin: 240px 0 0 0;
    padding-bottom: 240px;
  }

  .slide-grid-item {
    margin-top: 128px; 
    display: flex;
  }

  .slide-grid-right {
    margin-left: 56px;
  }

  .slide-title {
    margin-bottom: 8px;
  }
}