.footer {
  background-color: #f8f8f8;
}

#footer-header {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #333333;
}

.footer-container {
  a {
    color: #888888;
    text-decoration: none;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }

  margin: 0 auto;
  padding: 80px 0;

  ul {
  margin: 0;
  padding: 8px 0 0 0;
    li {
      list-style: none;
    }
  }

  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #888888;
}

@media only screen and (min-width: 1600px) {
  .footer-container {
    width: 800px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  #footer-header {
    font-size: 16px;
  }

  .footer-right {
    width: 60%;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1599px) {
  .footer-container {
    width: 800px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  #footer-header {
    font-size: 16px;
  }

  .footer-right {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
  .footer-container {
    width: 584px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }

  #footer-header {
    font-size: 16px;
  }

  .footer-right {
    width: 40%;
  }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
  .footer-container {
    width: 384px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  #footer-header {
    font-size: 12px;
  }

  .footer-right {
    width: 40%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 559px) {
  .footer-container {
    width: 240px;
    font-size: 12px;
  }

  #footer-header {
    font-size: 12px;
  }

  .footer-right {
    padding-top: 40px;
    width: 100%;
  }
}