.project-grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.project-grid-item {
  img {
    width: 366px;
  }
  height: auto;
}

.slide-grid-item {
  img {
    width: 480px;
  }
  display: flex;
}