@import "config/colors";
@import "config/fonts";

.navbar-container {
  padding: 24px 0;
  width: 100%;
  position: fixed;
  margin: 0;
  z-index: 99;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto;
}

.navbar-link {
  list-style-type: none;
  a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1;
    color: $text-default;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-link {
   a {
    font-size: 14px;
   } 
  }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .navbar-link {
    a {
     font-size: 12px;
    } 
   }
}