// import indices
@import "projects/index";
@import "components/index";
@import "musings/index";
@import "pages/index";


// import CSS configurations
@import "config/colors";
@import "config/fonts";

body {
  margin: 0;
}