<div class="musings-container">
  <h2>Musings</h2>
  <h3 id="musings-index-subtitle">A collection of my thoughts and opinions on product design, user experience, and corporate brand identity.</h3>
</div>
