#musings-index-subtitle {
  margin-top: 8px;
}

.musings-link {
  &:hover {
    text-decoration: underline;
  }
}

#musing-date {
  margin-top: 8px;
}


#musing-show-title {
  margin-bottom: 8px;
}

#musing-show-date {
  color: $text-unfocused;
}

.content-image {
  margin-top: 96px;
  img {
    width: 100%;
  }
}

.content-text {
  margin-top: 80px;
  white-space: pre-line;
}

@media only screen and (min-width: 0px) and (max-width: 559px) {
  #musing-date {
    margin-top: 4px;
  }
}