.musings-container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#musings-index-subtitle {
  margin-top: 16px;
}

.musings-grid-container {
  display: grid;
  justify-content: space-between;
  a {
    text-decoration: none;
  }
}

.musings-link {
  &:hover {
    text-decoration: underline;
  }
}

#musing-date {
  margin-top: 8px;
}

@media only screen and (min-width: 1600px) {
  .musings-container {
    width: 1200px;
    padding: 240px 0;
  }

  .musings-grid-container {
    grid-template-columns: repeat(2, 540px);
    margin-top: 240px;
    row-gap: 96px;
  }

  .musings-grid-item {
    img {
      width: 540px;
      height: 360px;
      margin-bottom: 8px;
    }
  }

}

@media only screen and (min-width: 1080px) and (max-width: 1599px) {
  .musings-container {
    width: 800px;
    padding: 240px 0;
  }

  .musings-grid-container {
    grid-template-columns: repeat(2, 320px);
    margin-top: 240px;
    row-gap: 96px;
  }

  .musings-grid-item {
    img {
      width: 320px;
      height: 213px;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1079px) {
  .musings-container {
    width: 584px;
    padding: 200px 0;
  }

  .musings-grid-container {
    grid-template-columns: repeat(2, 240px);
    margin-top: 240px;
    row-gap: 96px;
  }

  .musings-grid-item {
    img {
      width: 240px;
      height: 160px;
      margin-bottom: 8px;
    }
  }
}

@media only screen and (min-width: 560px) and (max-width: 767px) {
  .musings-container {
    width: 384px;
    padding: 160px 0;
  }

  .musings-grid-container {
    grid-template-columns: repeat(1, 240px);
    margin-top: 120px;
    row-gap: 48px;
  }

  .musings-grid-item {
    img {
      width: 384px;
      height: 256px;
      margin-bottom: 4px;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 559px) {
  .musings-container {
    width: 240px;
    padding: 160px 0;
  }

  .musings-grid-container {
    grid-template-columns: repeat(1, 240px);
    margin-top: 120px;
    row-gap: 48px;
  }

  .musings-grid-item {
    img {
      width: 240px;
      height: 160px;
      margin-bottom: 4px;
    }
  }

  #musing-date {
    margin-top: 4px;
  }
}