<div class="footer">
  <div class="footer-container">

    <div class="footer-left">
      <div id="footer-header">Contact</div>
      <ul>
        <li>Kevin Kim</li>
        <li>hello@kevinrkim.com</li>
        <li>LinkedIn</li>
      </ul>
    </div>

    <div class="footer-right">
      This website was developed from the ground up using Ruby on Rails. All original web design, code, and graphics were produced by me.
    </div>

  </div>
</div>