<div class="footer-container">

  <div class="footer-left">
    <h6>Contact</h6>
    <ul>
      <li>Kevin Kim</li>
      <li>emailaddressgoeshere</li>
      <li>LinkedIn</li>
    </ul>
  </div>

  <div class="footer-right">
    This website was developed from the ground up using Ruby on Rails. All original web design, code, and graphics were produced by me.
  </div>

</div>